DATABASE_URL="postgresql://postgres.bxabgvuekjuzolgaoles:@KopiKitaAI@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"
DIRECT_URL="postgresql://postgres.bxabgvuekjuzolgaoles:@KopiKitaAI@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"

NEXT_PUBLIC_SUPABASE_URL="https://bxabgvuekjuzolgaoles.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY="sb_publishable_MmWK4W-KcZ6ESsbTBIJ6uA_xNmDaZHa"

OPENROUTER_API_KEY="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"
OPENROUTER_MODEL="qwen/qwen3-next-80b-a3b-instruct"